.spotifyButton{
    background-color: #1DB954;
    color: #fff;
    padding: 1rem;
    width: 256px;
    max-width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}